.posr{position: relative;}
.posa{position: absolute;}

.ovh{overflow: hidden;}
.ovys{overflow-y: scroll;}

.wide{width: 100%;}

.h4rem{height: 4rem;}
.h3000{height: 3000px;}
.h100perc{height: 100%;}
.vh100{height: 100vh;}


.l1rem{left: 1rem;}
.r1rem{right: 1rem;}

.l1px{left: 1px;}

.mt3rem{margin-top: 3rem;}
.mt4rem{margin-top: 4rem;}
.mt5rem{margin-top: 5rem;}

.pt5rem{padding-top: 5rem;}

.p0{padding: 0;}

.z10{z-index: 10;}






/*rebind*/


.box{border-width: 0px;}

div {box-sizing: border-box}